h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
li,
ul,
ol,
blockquote,
pre,
code,
input,
textarea,
select,
nav,
footer,
header,
section {
  margin: 0;
  padding: 0;
}

.card-container {
  width: 350px;
  height: 230px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1.25rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #191919;
}
.card-container__title {
  font-weight: 600;
  font-size: 16px;
  padding: 3px 16px;
  background: #ffe2eb;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 208px;
  height: 24px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container__title--small {
  font-size: 12px;
  width: 100px;
  height: 16px;
}
.card-container__link {
  font-weight: 600;
  font-size: 16px;
  padding: 3px 16px;
  background-color: #007bff;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  color: #ffffff;
  width: 190px;
  height: 40px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #007bff;
  transition: 200ms all linear;
  -webkit-transition: 200ms all linear;
  -moz-transition: 200ms all linear;
  -ms-transition: 200ms all linear;
  -o-transition: 200ms all linear;
}
.card-container__link:hover {
  color: #007bff;
  background-color: #fff;
}
.card-container__link--small {
  font-size: 12px;
  width: 100px;
  height: 16px;
}
.card-container__text {
  font-weight: 400;
  font-size: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 16px;
  text-align: center;
}
.card-container__text strong {
  font-weight: 600;
}
.card-container__text--small {
  font-size: 12px;
  width: 100px;
  height: 16px;
}

.people-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.people-container__nav {
  grid-column: 1/4;
  background-color: #db96e6;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.people-container__header {
  grid-column: 1/3;
  grid-row: 2/3;
  border-radius: 25px;
  background-color: #8CE98C;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.people-container__aside {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: #E69999;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
