.people-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  &__nav {
    grid-column: 1 / 4;
    background-color: #db96e6;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }
  &__header {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    border-radius: 25px;
    background-color: #8CE98C;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__aside {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: #E69999;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
